# Ignore virtual environment
.venv/
.venv_san/

# Ignore secret environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
*.db

# Ignore uploads
uploads/

# Ignore system files
.DS_Store
Thumbs.db
